@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color:#0F0F0F; */
  font-size: calc(0.75em + 1vmin);

}

::-webkit-scrollbar {
  width: 0px;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.app {
  position: relative;
  color: rgb(219, 212, 212);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

;